body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
  margin-top: 150px;
  font-size: 28px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}
